    *{
	    margin:0 auto;

		padding: 0;

	}

	.nav {

	    width: 1200px;

	    height: 50px;

	}

	ul li {

	    list-style: none;/* 去掉小圆点 */

	}

	ul a {

	    text-decoration: none;/* 去掉下划线 */

	}

	ul li { /*一级菜单的样式 */

	    float: left;

	    width: 100px;

	    height: 50px;

	    line-height: 50px;/* 行高等于高使文字垂直居中 */

	    text-align: center;

            color: #FFFFFF

	    background: #000000;

			font-size: 20px;/*字体大小*/

	}

    ul li:hover {

	    background-color: #FFFFFF;/* 鼠标经过时显示的背景颜色 */

	}
